###############################
# Visual Studio
###############################

.vs/
*.vcxproj.user
*.suo
*.user
*.cache
*.VC.db
*.VC.opendb
*.ipch

###############################
# Build folders (C++)
###############################

Debug/
Release/
x64/
x86/
bin/
obj/
ipch/

###############################
# Build artifacts
###############################

*.exp
*.ilk
*.iobj
*.ipdb
*.log
*.pch
*.pdb
*.idb
*.tlog
*.manifest

###############################
# C/C++ intermediate files
###############################

*.obj
*.o
*.gch

###############################
# OpenGL / FreeGLUT
###############################

# DLL은 개발 PC에만 필요하고 Git에 올리면 안 됨
freeglut-3.2.1_artech/dll/
freeglut-3.2.1_artech/lib/

###############################
# System files
###############################

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

###############################
# Temporary files
###############################

*.tmp
*.temp
*.bak
*.old

###############################
# Visual Studio Backup
###############################

*.synctex.gz
*.zip
*.rar
*.7z

###############################
# Project-specific excludes
###############################

# VS에서 자동 생성되는 거대한 자동 PCH 파일
**/AutoPCH/
**/*.ipch

# map 파일을 제외하고 싶다면 아래 주석 해제
#*.map
